/* main > :nth-child(3){
  background: pink;
} */

/* 3の倍数で色がつく */
/* main > :nth-child(3n){
  background: pink;
}

main > :nth-child(odd){
  background: pink;
}

main > :nth-child(even){
  background: skyblue;
} */

/* 最初に色がつく */
main > :first-child{
  background: pink;
}

/* 最後に色がつく */
main > :last-child{
  background: skyblue;
}